.data
 - ['Controller', 'Path', 'Linear', 'Rotary', 'Spindle'].each do |k|
   - items = @data.delete(k)
    - unless items.nil? or items.empty?
      %table
        %tr
          %th{:colspan => "4"}= k
        - items.each do |c|
          - c.values.each do |i|
            - if k == 'Linear' or k == 'Rotary' or k == 'Spindle'
              %tr
                =raw display_row("#{i.component_name} #{i.item}", i)
            - else
              %tr
                =raw display_row(i.item, i)
  - @data.each do |k, items|
    - unless items.empty?
        %table
          %tr
            %th{:colspan => "4"}= k
          - items.each do |c|
            - c.values.each do |i|
              %tr
                =raw display_row(i.item, i)
